In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [4]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [6]:
df.shape

(57650, 4)

In [7]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [8]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [9]:
df.head(10)

,artist,song,text
0,Alice Cooper,Hello Hooray,"Hello! Hooray! Let the show begin, \r\nI've b..."
1,Queen,Staying Power,Let me show it to you yeah \r\n \r\nSee what...
2,Lynyrd Skynyrd,I Never Dreamed,My daddy told me always be strong son \r\nDon...
3,Townes Van Zandt,Velvet Voices,By Townes Van Zandt \r\nI'll play upon my vio...
4,Heart,Crazy On You,"If we still have time, we might still get by ..."
5,David Allan Coe,Masterbation Blues,"She's alone in the corner, with her panties to..."
6,The Temptations,Friendship Train,Calling out to everyone across the nation \r\...
7,Irving Berlin,All Alone,[1st verse:] \r\nJust like a melody that ling...
8,Britney Spears,Rock Star,Put your ass on your shoulders and you ain't n...
9,Erik Santos,All That I Need,I'm sorry that I hurt you \r\nI took for gran...

In [10]:
df['text'][10]

"If I gotta burn in fire  \r\nFeel the flames  \r\nFor my loved ones to excel in this game  \r\nThen let it burn  \r\nLet it burn  \r\nAs I lay me down to sleep  \r\nI pray to the Lord that my soul he keeps  \r\nNobody weeps when a G dies  \r\nBut like Maya Angelou still we rise  \r\nMama tried to keep me home at night  \r\nBut despite her attempts  \r\nI hung with the macks and the pimps  \r\nSidin' with the Rip's  \r\nNot 'cause I like blue if you like red  \r\nI did it 'cause I never did like you  \r\nAnd it said the good die young  \r\nI don't recognize myself what have I become?  \r\nCan you tell me why am I headed for a dead end?  \r\nWhy I got another dead friend?  \r\nWhy they surround me- dead men?  \r\nEverywhere I look right and left  \r\nFlip another page in the book of life and death  \r\nIt's comin'- I feel it breathin' down my back  \r\nIt got me runnin' Grim Reap ain't cuttin' no slack  \r\nWhat can I do where can I go  \r\nLord forgive me for all I did 'cause I didn't know  \r\nAnd when my heart beats it's last tick  \r\nSomebody sat these three words in my casket:  \r\nLord have mercy  \r\n[chorus]  \r\nLord forgive me for all the wrong that I did  \r\nAll of the pain that I inflicted as a kid  \r\nOn Judgement Day consider this before you curse me  \r\nI was only a child so Lord have mercy  \r\nForgive me for all the wrong that I've done  \r\nAll of the pain I inflicted when I was young  \r\nOn Judgement Day consider this before you curse me  \r\nI was only a child so Lord have mercy  \r\nShould I die before I wake  \r\nDon't shed a tear Mama 'cause I finally escaped  \r\nNo more drama no more blood sweat and tears  \r\nNo more pressure from my peers  \r\nand no more fears  \r\nI rest in peace- how long will it last  \r\nFore I have to answer for what I did in the past  \r\nIllin' - willin' and dealin' cops always after me  \r\nI call it survival and you call it misanthropy  \r\nBut let the record reflect circumstances were suspect  \r\nBut you couldn't care less- mann  \r\nWhile I struggle to survive  \r\nYou turned your eyes- plugged your up ears  \r\nIgnored my cries  \r\nNow Ms. America sayin' we scarin' her  \r\nBut she can give me Liberty or Death- I'm darin' her  \r\nEither one'll set me free- that's all I want to be  \r\nBut that ain't what y'all want to see  \r\nYou'd rather see me killin' up my own in the ghetto  \r\nOr sellin' blow to anybody Black, Brown, or Yellow  \r\nBut forget that- I'm tryin' to get my head right  \r\nEven if it mean I gotta get dead tonight  \r\nLord have mercy forgive me  \r\n[chorus]  \r\nForgive me for the blood that his body bled  \r\nAnd all the tears that his Mommy shed  \r\nBook says 'Thou Shalt Not Kill'  \r\nBut I done seen more blood spilled  \r\nThan the vets on Hamburger Hill- it's real  \r\nPost War Syndrome- went to see my homie  \r\nBut his Mama told me that the homie been gone  \r\nEverytime I turn around it be another body on the ground  \r\nWith fresh gunshot wounds but he didn't hear a sound  \r\nWhen he came out the room  \r\nNobody told him he would be dead so soon  \r\nBut the gauge went boom Ms. America,  \r\nI know you got a cure for AIDS  \r\nBut we need a cure for Raid who on a rampage  \r\nCan you feel it- the tensions in the air thick  \r\nHate got me so high I'm gettin' airsick  \r\nGot my people broke lookin for a buck to borrow  \r\nDoin it one day at a time fuck your sorrow  \r\nFuck tomorrow I want revenge  \r\nI got a Beretta named Vendetta  \r\nTime to answer for your sin- man  \r\nWhen you meet your creator- tell him I apologize  \r\nBut I gotta ride Lord have mercy forgive me...  \r\n[chorus]\r\n\r\n"

In [11]:
df.shape

(5000, 3)

In [12]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [13]:
df

,artist,song,text
0,Alice Cooper,Hello Hooray,"hello! hooray! let the show begin, \r i've be..."
1,Queen,Staying Power,let me show it to you yeah \r \r see what i...
2,Lynyrd Skynyrd,I Never Dreamed,my daddy told me always be strong son \r don'...
3,Townes Van Zandt,Velvet Voices,by townes van zandt \r i'll play upon my viol...
4,Heart,Crazy On You,"if we still have time, we might still get by ..."
...,...,...,...
4995,Soundgarden,Fell On Black Days,whatsoever i've feared has come to life \r wh...
4996,Nazareth,Ain't Got You,i got a maseratti two by two \r with snakeski...
4997,The Killers,Daddy's Eyes,"i'll tell you what you wanna know, \r but boy..."
4998,Matt Redman,You Alone Can Rescue,"who, oh lord, could save themselves \r their ..."
4999,Ugly Kid Joe,I'll Keep Tryin',if i had the time and lotsa money \r the i'd ...

In [14]:
df.tail(5)

,artist,song,text
4995,Soundgarden,Fell On Black Days,whatsoever i've feared has come to life \r wh...
4996,Nazareth,Ain't Got You,i got a maseratti two by two \r with snakeski...
4997,The Killers,Daddy's Eyes,"i'll tell you what you wanna know, \r but boy..."
4998,Matt Redman,You Alone Can Rescue,"who, oh lord, could save themselves \r their ..."
4999,Ugly Kid Joe,I'll Keep Tryin',if i had the time and lotsa money \r the i'd ...

In [15]:
import nltk
from nltk.stem.porter import PorterStemmer

In [16]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [17]:
stemmer = PorterStemmer()

In [18]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a =[stemmer.stem(w) for w in token]
    return " ".join(a)

In [19]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [20]:
df['text'].apply(lambda x: token(x))

0       hello ! hooray ! let the show begin , i 've be...
1       let me show it to you yeah see what i got , i ...
2       my daddi told me alway be strong son do n't yo...
3       by town van zandt i 'll play upon my violin un...
4       if we still have time , we might still get by ...
                              ...
4995    whatsoev i 've fear ha come to life whatsoev i...
4996    i got a maseratti two by two with snakeskin up...
4997    i 'll tell you what you wan na know , but boy ...
4998    who , oh lord , could save themselv their own ...
4999    if i had the time and lotsa money the i 'd tak...
Name: text, Length: 5000, dtype: object

In [21]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (1.7.2)
Requirement already satisfied: numpy>=1.22.0 in c:\users\dell\appdata\roaming\python\python312\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [23]:
tfid = TfidfVectorizer(analyzer = 'word' , stop_words='english' )

In [24]:
 matrix=tfid.fit_transform(df['text'])

In [25]:
similer =cosine_similarity(matrix)

In [26]:
similer[0]

array([1.        , 0.02351909, 0.07174159, ..., 0.06094249, 0.        ,
       0.01024595], shape=(5000,))

In [31]:
df[df['song']=='Rattlesnake Shake']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [ ]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [ ]:
recommender("Rattlesnake Shake")